
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@page {
	size: A4 landscape;
	marks: cross crop;
}

.blue {
	color: cmyk(72, 2, 18, 0);
}
.card {
	page-break-before: always;
	&.image {
		background-color: red;
		img {
			image-resolution: from-image;
			position: absolute;
			top: 0;
			left: 0;
			width: 14.8cm;
			height: 10.5cm;
		}
		h4 {
			position: absolute;
			top: 0.4cm;
			left: 2.76cm;
			font-size: 18pt;
		}
		h3 {
			position: absolute;
			top: 0.4cm;
			left: 0.4cm;
			font-size: 6pt;
		}
	}
	&.content {}
}
