<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>All</title>
	<link href="css/desktop.css" rel="stylesheet">
	<link href="css/print.css" rel="stylesheet" media="print">
</head>
<body>
	<header>
		<h1>Method Methods</h1>
		<h2>All Cards</h2>
		<button id="print">Print</button>
	</header>
	<div class="row cards"></div>
	<footer></footer>
	<script src="js/libs/jquery-2.2.0.min.js"></script>
	<script src="js/libs/jquery.parse.js"></script>
	<script src="js/libs/underscore.js"></script>
	<script src="js/auth.js"></script>
	<script src="js/all.js"></script>
	<script type="text/template" id="card-template">
		<div class="card">
			<div class="content">
				<h3><%= title %></h3>
				<p><%= description %></p>
				<% goals=goals.replace(/\n/g,"</li><li>") %>
				<ul class="goals"><li><%= goals %></li></ul>
				
				<h4 class="green"><%= category.title %></h4>
			</div>
			<div class="image">	
				<img src="<%= image.url %>">
				<ul class="tags">
					<% _.each(tags,function(counter){ %>
						<li><%= counter.title %></li>
						<%});%>
				</ul>
			</div>
		</div>
	</script>
</body>
</html>

